[defaults]
inventory = inventory.yml
vault_password_file = .vault_pass
retry_files_enabled = False		# nie generuje retry po nieudanych playbookach
editor = nano

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
